{% extends 'layouts/layout.html' %}


{% block title %}
	{{title}}
{% endblock %}

{% block content %}
<div class="container text-left py-5">
	<h1 class="text-center"> {{title}} </h1>
	{{register_form.errors}}
	<form method="post" action="" class="formulario">
		{% csrf_token %}

		{% comment %}
			{{register_form.as_p}}
		{% endcomment %}

		{% for field in register_form %}
			<div class="row">
				{{field.label}}
				{{field}}
			</div>

		{% endfor %}
		<input type="submit" value="Registrarse" class="btn btn-primary my-5" />
	</form>
	</div>

{% endblock %}