{% extends 'layouts/layout.html' %}


{% block title %}
	{{title}}
{% endblock %}

{% block content %}

	<div class="container text-center py-5">
		<h1> {{title}} </h1>
		{% if messages %}
			{% for m in messages %}
				<div class="py-5">
					{{m}}
				</div>
			{% endfor %}
		{% endif%}
		
		{% if user.email %}
			<h1>Bienvenido, {{request.user}} {{ user.email }}</h1>
			<a href="/admin" class="btn btn-primary my-5"> Panel Admin </a>
			<h3>Usuarios en la BD</h3>
	
			{% for u in users %}
			<div class="row">
				<p>Usuario: {{u}}</p>
			</div>
		{% endfor %}
	
		{% else %}
			<h2>Identificate para ver mas contenido</h2>
			<a href="/login" class="btn btn-primary my-5"> Ir a Login </a>
		{% endif %}
	</div>

{% endblock %}